  
*{

  margin: 0;

  padding: 0;

  box-sizing: border-box;

  text-decoration: none;

  font-family: 'Poppins', sans-serif;

}

 

#nav{

  z-index: 9999;
 
  

}

.wrapper{

  background: #1CA28B;

  position: fixed;

  width: 100%;

  border: rgba(4, 141, 137, 0.712);
}

.wrapper nav{

  position: relative;

  z-index: 500;

  display: flex;

  max-width: calc(100% - 200px);

  margin: 0 auto;

  height: 85px;

  align-items: center;

  justify-content: space-between;
}

nav .content{

  display: flex;

  align-items: center;

}

nav .content .links{

  margin-left: 290px;

  display: flex;

}

.content .logo img{

  color: rgb(5, 143, 131);
 
  
}


.content .links li{

  list-style: none;

  line-height: 0px;

}

.content .links li a,

.content .links li label{

  color: white;

  font-size: 19.5px;

  font-weight: 500;

  padding: 12px 32px;


  border-radius: 50px;

  transition: all 0.3s ease;

 

}

.content .links li label{

    display: none;

  

}

.content .links li a:hover,

.content .links li label:hover{

 text-shadow: 4px 4px 8px rgb(14, 13, 13);
  

}

.wrapper .search-icon,
.wrapper .menu-icon{

  color: white;

  font-size: 22px;

  cursor: pointer;

  line-height: 70px;

  width: 80px;

  text-align: center;
  text-shadow: 3px 3px 4px rgb(44, 44, 44);

}

.wrapper .menu-icon{

  display: none;

}

.wrapper #show-search:checked ~ .search-icon i::before{

    content: "\f00d";

  }

 

.wrapper .search-box{

  position: absolute;

  height: 100%;

  max-width: calc(100% - 50px);

  width: 100%;

  opacity: 0;

  pointer-events: none;

  transition: all 0.3s ease;
  text-shadow: 3px 3px 4px rgb(49, 48, 48);

}

.wrapper #show-search:checked ~ .search-box{

  opacity: 1;

  pointer-events: auto;

}

.search-box input{

  width: 100%;

  height: 100%;

  border: none;

  outline: none;

  font-size: 22px;

  color: white;

  background:#1CA28B;

  padding: 0 100px 0 15px;

}

.search-box input::placeholder{

  color: white;
  text-shadow: 3px 3px 4px rgb(49, 48, 48);


}

.search-box .go-icon{

  position: absolute;

  right: 10px;

  top: 50%;

  transform: translateY(-50%);

  line-height: 60px;

  width: 70px;

  background:#1CA28B;

  border: none;

  outline: none;

  color: white;

  font-size: 30px;

  cursor: pointer;

  font-weight: 500;
  text-shadow: 3px 3px 4px rgb(49, 48, 48);


}

.wrapper input[type="checkbox"]{

  display: none;

}

 

/* Dropdown Menu code  */

.content .links ul{

  position: absolute;

  background: #1CA28B;

  top: 50px;
  margin-top: 10px;

  z-index: -1;

  opacity: 0;

  visibility: hidden;

  font-size: 5px;
  width:130px;
  text-align:center;
  padding-bottom:5px;

}

.content .links li:hover > ul{

  top: 60px;

  opacity: 1;

  transition: all 0.3s ease;
  visibility: visible;

  

}

.content .links ul li a{

  display: block;

  width: 100%;

  line-height: 20px;

  /* border-radius: 44px!important; */
  padding:2px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.content .links ul ul{

  position: absolute;

  top: 0;

  right: calc(-100% + 8px);

}

.content .links ul li{

  position: relative;

}

.content .links ul li:hover ul{

  top: 0;

}

/*footer code*/

footer{

    position: relative;

    bottom: 0px;

    width: 100%;

    background: rgb(39, 38, 38);

}

  .main-content{

    display: flex;

  }

  .main-content .box{

    flex-basis: 50%;

    padding: 10px 20px;

  }

  .box h2{

    font-size: 1.125rem;

    font-weight: 500;

    text-transform: uppercase;

    

  }

  .box .content{

    margin: 20px 0 0 0;

    position: relative; 
    display: flex;
    flex-direction: column;
    text-align: left;

  }

  .box .content:before{

    position: absolute;
    

    content: ' ';

    top: -10px;

    height: 3px;

    width: 100%;

    background: #3d3c3c9a;

  }

  .box .content:after{

    position: absolute;

    content: '';

    height: 2px;

    width: 20%;

    background: rgb(5, 143, 131);

    top: -10px;

  }

  .left .content p{

    text-align: justify;

    color: white;

  }

  .left .content .social{

    margin: 20px 0 0 0;
  }

  .left .content .social a{

    padding: 0 2px;

  }

  .left .content .social a span{

    height: 35px;

    width: 35px;

    background: rgb(36, 36, 36);

    line-height: 40px;

    text-align: center;

    font-size: 18px;

    border-radius: 20px;

    transition: 0.3s;

    color: white;
    text-shadow: 2px 2px 2px rgb(16, 223, 188) ;

  }

  .left .content .social a span:hover{

    background: rgb(24, 170, 158);
    text-shadow: 1px 1px 2px black ;
    box-shadow: 2px 2px 3px rgb(172, 167, 167);
  }
  
  .center  {
    display: flex;
    flex-direction: column;
    text-align: left;
  }
  .center h2{
    text-align: left;
  }
  .center .content .phone{
    left:0px;
    text-align:left;
   
   
  }

  .center .content .fas{

    font-size: 1.4375rem;

    background: white;

    height: 40px;

    width: 40px;

    line-height: 40px;

    text-align: center;

    border-radius: 50%;

    transition: 0.3s;

    cursor: pointer;

  }

  .center .content .fas:hover{

    background: rgb(18, 173, 160);
    text-shadow: 1px 1px 2px black;
    box-shadow: 2px 2px 2px gray;
  }

  .center .content .text{

    font-size: 1.0625rem;

    font-weight: 500;

    padding-left: 10px;

    color: white;

    padding-top: 10px;

  }

  .center .content .phone{

    margin: 15px 0;

  }

  .right form .text{

    font-size: 1.0625rem;

    margin-bottom: 2px;

    color: #c4c2c2;

  }

  .right form .msg{

    margin-top: 10px;

    color: rgb(240, 238, 238);

    margin:5px;

  }

  .right form input, .right form textarea{

    width: 100%;

    font-size: 1.0625rem;

    background: #252525;

    padding-left: 10px;

    border: 1px solid #3b3a3a;

    color: white;

    border-radius: 20px;

  }

  .right form input:focus,

  .right form textarea:focus{

    outline-color: #13d4c4;

    

  }

  .right form input{

    height: 30px;

    color: white;

    margin-top: 2px;

    padding: 5px;

  }

  .right form .btn{

    
    padding: 10px;
  }
  
 .right form .btn button{

    height: 32px;

    width: 100%;

    border: none;

    outline: none;

    background:rgb(5, 143, 131);

    font-size: 23px;

    font-weight: 500;

    cursor: pointer;

    transition: .3s;

    border-radius: 20px;
    box-shadow: 2px 2px 2px rgb(129, 131, 129);
    text-shadow: 2px 2px 2px rgb(182, 178, 178);
  }

  .right form .btn button:hover{

    background: #000;

    color: white;
    box-shadow: 2px 2px 5px 2px rgb(5, 143, 131);

  }

  .bottom{

      color: rgb(131, 128, 128);

      width:100%;
      margin-top: 5px;

      background-color: black;
     

  }

 

  
  /* Home Section */

#home{

  display: flex; 

  flex-direction: column;

  padding:3px 200px;

  height: 500px;

  justify-content: center;

  align-items: center;

 }

 #home::before{ 

  content: "";

  position: absolute;

  background: rgb(0, 0, 0,0.3)   url('imgc.jpg') no-repeat center center /cover;

  background-blend-mode: darken;

  height: 752px;

  /* top:20px; */

  left:0px;

  width: 100%;

  z-index: -1;

  opacity:0.85;
  box-shadow: 5px 5px 10px rgb(19, 17, 17);

 }

 

 #home h1{

  margin-top: 20%;

  color:black;

  text-shadow: 3px 3px 3px rgb(5, 143, 131);

  text-align: center;

  font-family: 'Bree Serif', serif;


 }

 

 #home h2{

  padding: 5px 5px;

  color: white;
 
 }

 

 #home p{

  color: rgb(0, 0, 0);
  font-weight: 500;

  text-align: center;

  font-size: 1.5rem;

  font-family: 'Bree Serif', serif;
  text-shadow:1px 1px 3px rgb(21, 167, 142);
 }

 

 #home ul{

  color: white;

  padding: 2px 2px;

  text-align: center;

  font-size: 1.4rem;

  font-family: 'Bree Serif', serif;
  text-shadow:2px 2px rgb(8, 44, 8);
 }

 

 li{

  font-family: 'Bree Serif', serif;

 }

 #services-container .btn{

  padding: 9px 30px;
  border: none;
  /* background-color:rgb(25, 143, 133) ; */
  background:linear-gradient(to right,rgb(0, 0, 0),rgb(31, 189, 162));
  color: rgb(255, 255, 255);
  margin: 25px;
  margin-left: 575px;
  margin-top: 75px;
  font-size: 1.5rem;
  font-weight: 650;
  border-radius: 30px;
  box-shadow: 3px 3px  3px rgb(0, 0, 0);
 }

 #services-container .btn:hover{
  color:rgb(0, 0, 0);
 
  border: none;
  cursor:pointer;
  /* box-shadow: -2px -2px 1px rgb(11, 153, 141); */
  background:linear-gradient(to left,rgb(27, 27, 27),rgb(31, 189, 162));
  text-shadow: 2px 2px 2px rgb(209, 209, 209);
  
 }
 #services-container .btn a::before{
   width:50%;
   background: rgba(255,255,255,0.05);
 }
 ::selection{
   color:white;
   background-color:rgb(5, 143, 131) ;
 }

 .box h2{
   color: rgb(26, 182, 169);
 }

/* Services Section */

 #services{

  margin: 30px;

  display: flex;
  z-index: -1;
 }

 

 #services .box{ 

  border:1px rgb(5, 143, 131);
 padding: 30px;
 margin: 70px 55px;
 border-radius: 28px;
 background: #d8d6d6;
 margin-bottom: 20px;
  box-shadow:4px 4px 11px 6px rgb(149, 151, 149);

 }
 #services .box h2{
   color: rgb(5, 143, 131);
   
 }
 #services .box:hover{
  box-shadow:4px 4px 7px 5px rgb(30, 211, 166);
  cursor: pointer;
 }


 

 #services .box img{ 

 height: 160px;

 margin: auto;

 display: block;

 }

 

 #services .box p{

  font-family: 'Bree Serif', serif;

 

 } 

 

/* Utility Classes */

 .h-primary{

 
 font-family: 'Bree Serif', serif;
  font-size: 3.8rem;

  padding: 12px;

  padding-top: 2px;
  text-shadow: 3px 3px 8px  rgb(51, 230, 194);
  -webkit-box-reflect:below -50px linear-gradient(transparent,rgba(0, 0, 0, 0.5));

 }
 
 .h-primar{

 
  font-family: 'Bree Serif', serif;
   font-size: 3.5rem;
 
   /* padding: 12px; */
   
   height:170px;
   margin-bottom:70px;
   text-shadow: 3px 3px 3px  rgb(38, 230, 214);
   z-index: -1;
 
  }
 
 .h-secondary{

  font-family: 'Bree Serif', serif;

  font-size: 2.3rem;

  padding: 12px;
 
 
 }

 

 .center{

  text-align: center;

 }

 .recycle{
   text-align: center;
   
  
   font-size: 40px;
   color: rgb(34, 151, 141);
   text-shadow: 1px 1px 4px rgb(126, 123, 123);
 }
  
 hr.line{
   width:47%;
   height: 5px;
   margin-top: 20px;
   float: left;
   border-radius: 15px;
   background:linear-gradient(to left,rgb(54, 53, 53),rgb(52, 240, 224));

 }
 hr.line2{
  width:47%;
  height: 5px;
  text-align:right;
  margin-top: 20px;
  float: right;
  border-radius: 15px;
  background:linear-gradient(to right,rgb(54, 53, 53),rgb(53, 238, 207));

 }

 /* accordion */

 
.accordion {
    background-color: rgb(13, 180, 152);
    color: rgb(0, 0, 0);
    cursor: pointer;
    padding: 18px;
    width: 80%;
    border: none;
    border-radius: 10px;
    outline: none;
    font-size: 25px;
    transition: 0.4s;
    box-shadow: 4px 6px 7px rgb(168, 166, 166);
    text-align:left;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}
  
.active, .accordion:hover {
    background-color: rgb(173, 173, 173);
    box-shadow: 3px 3px 3px gray;
}
  
.accordion:after {
    content: '\002B';
    color: rgb(0, 0, 0);
    font-weight: bold;
    float: right;
    margin-left: 5px;
    text-shadow: 2px 2px 3px rgb(148, 146, 146);
}
  
.active:after {
   content: "\2212";
}
  
.pancontent {
    padding: 0 150px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    text-align: justify;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 530;
    
   
 }
.pancontent p{
  margin-top: 20px;
  margin-bottom: 10px;
  font-size:18px;
  
}
h2.faq{
  font-family: sans-serif;
  font-size: 2.5rem;
  text-shadow: 2px 2px 5px rgb(25, 212, 197);
}
h3.freq{
  font-family: sans-serif;
  font-size: 20px;
  color: #3b3a3a;
}

/* image box */

.contain{
  width:1300px;
  min-height: 300px;
  background: rgba(224, 223, 223, 0.774);
  margin:10px auto 0;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 60px;
  border-radius: 8px;
  
 
}
.contain .dabba{
  position:relative;
  width:320px;
  height:250px;
  background: rgb(11, 187, 158);
  margin: 50px;
  box-sizing: border-box;
  display: inline-block;
  box-shadow: 5px 5px 15px rgb(153, 151, 151);
 
}
.contain .dabba .imgBox{
  position: relative;
  overflow: hidden;
 
}
.contain .dabba .imgBox img{
  max-width:100%;
  transition:transform 2s;
}
.contain .dabba:hover .imgBox img{
  transform :scale(1.2);
 
}
.contain .dabba .details{
  position: absolute;
  top:10px;
  left:10px;
  bottom:10px;
  right:10px;
  background: rgba(0, 0, 0, 0.5);
  transform: scaleX(0);
  transition: transform 1s;
}
.contain .dabba:hover .details{
  transform:scaleX(1);
  
}
.contain .dabba .details .contents{
  position: absolute;
  top:50%;
  transform:translateY(-50%);
  text-align: center;
  padding: 15px;
  color:#fff;
}
.contain .dabba .details .contents h2{
  margin:0;
  padding:0;
  font-size: 25px;
  color:rgb(202, 243, 88)
}
.contain .dabba .details .contents p{
  margin:10px 0 0;
  padding:0;
  font-size: 20px;
 
}
